# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Java source files
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120
continuation_indent_size = 8

# XML files (POM, etc.)
[*.xml]
indent_style = space
indent_size = 4

# Properties files
[*.properties]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Makefiles
[Makefile]
indent_style = tab

# Batch files
[*.{cmd,bat}]
end_of_line = crlf
